@font-face {
  font-family: 'Beckett_Medium_PRO_2012WEB-0afe0e3908af47bc23d846cf880051fd';
  src: url('Beckett_Medium_PRO_2012WEB-0afe0e3908af47bc23d846cf880051fd.eot');
  src: url('Beckett_Medium_PRO_2012WEB-0afe0e3908af47bc23d846cf880051fd.eot?#iefix') format('embedded-opentype'),
       url('Beckett_Medium_PRO_2012WEB-0afe0e3908af47bc23d846cf880051fd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WEBABeckett-Medium';
  src: url('WEBABeckett-Medium.svg#WEBABeckett-Medium') format('svg'),
       url('WEBABeckett-Medium.ttf') format('truetype'),
       url('WEBABeckett-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

